/* #root: Configuración del contenedor principal */
#root {
  max-width: 100%; /* El ancho máximo del contenedor se establece al 100% del contenedor padre */
  margin: 0 auto;  /* Centra el contenedor horizontalmente */
  padding: 2rem;   /* Añade un padding de 2rem alrededor del contenedor */
  text-align: center; /* Alinea el contenido del contenedor al centro */
}

/* .card: Estilo de las tarjetas o elementos con clase "card" */
.card {
  padding: 2em; /* Añade un padding de 2em alrededor del contenido de la tarjeta */
}

/* .read-the-docs: Estilo para un texto específico */
.read-the-docs {
  color: #888; /* Establece el color del texto a un tono gris claro */
}

/* html, body, #root: Configuración del fondo y estructura de la página */
html, body, #root {
  margin: 0;  /* Sin márgenes */
  padding: 0; /* Sin padding */
  width: 100%; /* Asegura que ocupe todo el ancho */
  height: 100%; /* Asegura que ocupe toda la altura */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
  background-color: #DEB887; /* Establece el color de fondo de la página a un tono "peach puff" (#FFDAB9) */

}

/* .container: Configuración del contenedor principal */
.container {
  display: flex; /* Utiliza un diseño flexible para el contenedor */
  flex-direction: column; /* Organiza los hijos en una columna vertical */
  justify-content: center; /* Alinea los elementos hijos verticalmente al centro */
  align-items: center; /* Alinea los elementos hijos horizontalmente al centro */
  height: 100vh; /* Configura la altura del contenedor para ocupar el 100% de la ventana */
  padding: 0 1rem; /* Añade un padding para los márgenes laterales en móviles */
}

/* Nueva sección para la imagen en la parte superior */
.image-container {
  width: 100vw; /* Ocupa el 100% del ancho de la ventana */
  height: auto; /* Deja que la imagen ajuste su altura */
  margin: 0; /* Sin márgenes */
  padding: 0; /* Sin padding */
  overflow: hidden;
}

.header-image {
  width: 100vw; /* Asegura que la imagen ocupe todo el ancho de la ventana */
  height: auto; /* Ajusta la altura automáticamente */
  object-fit: cover; /* Recorta la imagen si es necesario para cubrir todo el contenedor sin deformarse */
}

/* .header: Configuración de la cabecera */
.header {
  display: flex; /* Utiliza un diseño flexible para la cabecera */
  justify-content: space-between; /* Distribuye los elementos hijos con espacio entre ellos */
  width: 49%; /* Establece la cabecera para ocupar todo el ancho del contenedor */
  margin-bottom: 3rem; /* Añade un margen inferior de 3rem para separar la cabecera de otros elementos */
}

/* .main: Estilo para los elementos de la sección principal (h1) */
.main {
  width: 100%; /* Asegura que la sección principal ocupe todo el ancho disponible */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos hijos */
  gap: 1.5rem; /* Espaciado entre los elementos hijos */
}

/* Espaciado entre los elementos hijos dentro de .header */
.header > * {
  margin-right: 1rem; /* Añade un margen derecho de 1rem a cada hijo de .header */
}

/* Elimina el margen derecho del último elemento hijo de .header */
.header > *:last-child {
  margin-right: 0; /* Establece el margen derecho a 0 para el último hijo */
}

.button-full-width {
  width: 100%; /* Asegura que el botón ocupe el 100% del contenedor */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

